$ff-base: "Montserrat", sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fs-base: 16px;
$fs-header: 22px;
$color-text: #000000;
$color-yellow: #ffad00;
$color-blue: #0058bf;
$color-white: #ffffff;

$padding-XS: 8px;
$padding-S: 16px;
$padding-M: 20px;
$padding-L: 32px;
$padding-XL: 40px;
$padding-XXL: 50px;

$transition: all 200ms ease-in-out;
$shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);

#es-rc #es-rc-content {
  font-family: $ff-base;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.4;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $color-text;
  background: $color-white;

  ::-moz-selection {
    background-color: $color-blue;
    color: $color-white;
  }

  ::selection {
    background-color: $color-yellow;
    color: $color-blue;
  }

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
    line-height: inherit;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-header {
    font-size: $fs-header;
    font-weight: $fw-bold;
  }

  .es-line {
    height: $padding-L;
    background-color: $color-yellow;
    width: 100%;
  }

  .es-section {
    margin-block: $padding-XXL;
  }

  .es-kv {
    text-align: center;
    margin-top: 0;

    &__logo-img {
      max-width: 90%;
    }

    &__right-img {
      &--desktop {
        display: none;
      }
    }

    &__left {
      padding-block: $padding-M;
    }

    &__right img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }

    &__logo {
      padding: $padding-S;
      max-width: 150px;
      margin: auto;
    }

    &__infoWrapper {
      display: flex;
      flex-direction: column;
      gap: $padding-S;
    }

    &__title {
      background-color: $color-yellow;
      color: $color-white;
      font-weight: $fw-bold;
      padding: $padding-XS $padding-S;
      border-radius: 0 10px 0 0;
    }

    &__titleWrapper {
      display: flex;
      flex-direction: column;
      gap: $padding-S;
    }

    &__textWrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      gap: $padding-S;
    }

    &__new {
      color: $color-blue;
      font-size: 25px;
      font-weight: $fw-bold;
    }

    &__disclaimer {
      font-size: 10px;
    }
  }

  .es-features {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: $padding-L;
    overflow: hidden;

    .es-header {
      color: $color-blue;
      text-align: center;
    }

    &__right {
      width: 100%;
    }

    &__right-description {
      max-width: 375px;
      margin: 0 auto;
      padding: $padding-S;
      text-align: center;
    }
    &__packshot {
      position: relative;
      z-index: 1;
      .es-line {
        position: absolute;
        top: 50%;
        z-index: -1;
      }
    }
    &__packshot img {
      max-width: 280px;
      transition: $transition;

      &:hover {
        scale: 1.05;
      }
    }

    &__inner {
      .es-line {
        display: none;
      }
    }
  }

  .es-effects {
    position: relative;
    z-index: 1;
    margin-bottom: $padding-L;

    .es-header {
      text-align: center;
      padding: $padding-S;
      background-color: $color-blue;
      color: $color-white;
    }

    &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 80px;
      color: $color-blue;
      text-align: center;
    }
    &__Ctn {
      background-color: #ffffff19;
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      padding: $padding-M;
    }
    &__wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding-inline: $padding-S;
      gap: $padding-S;
    }

    &__single {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      gap: $padding-S;
      border-radius: $padding-XS;
      padding: $padding-S;
      transition: $transition;
      &:hover {
        box-shadow: $shadow;
        background-color: #ffffff19;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
      }
    }

    &__textTitle {
      color: $color-blue;
      font-weight: $fw-bold;
      width: 85%;
      max-width: 300px;
      text-align: center;
      margin: auto;
      font-size: $fs-header;
      padding-block: calc($padding-XS/2);
    }

    &__text {
      text-align: center;
      text-wrap: balance;
    }

    &__plus {
      color: $color-blue;
      font-size: calc(2 * $fs-header);
      font-weight: $fw-bold;
      text-align: center;
    }
  }

  .es-fragrance {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $padding-L;
    .es-header {
      color: $color-blue;
    }
    &__left {
      display: flex;
      flex-direction: column;
      gap: $padding-L;
    }
  }

  .es-formula {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

    &__left {
      position: relative;
      z-index: 1;
      &--bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      &--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: $padding-L;
        padding: $padding-L;
        aspect-ratio: 3/2;
      }
      &--text {
        border-radius: 0 10px 0 0;
        background-color: rgba(255, 255, 255, 0.5);
        color: $color-blue;
        font-weight: $fw-bold;
        padding: $padding-XS;
        font-size: calc(0.9 * $fs-base);
        border: 2px solid $color-blue;
        width: 70%;
        max-width: 300px;
        text-align: center;
        position: relative;
      }
      &--lineCtn {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        transform: rotate(90deg);
        transform-origin: left;
        &--1 {
          left: 33%;
          min-width: 300px;
          width: 200%;
          max-width: 425px;
        }
        &--2 {
          top: 85%;
          left: 66%;
          width: 103%;
        }
      }
      &--line {
        width: 100%;
        border-bottom: 1px dashed $color-blue;
        height: 1px;
      }
      &--plus {
        font-size: calc(1.8 * $fs-header);
        line-height: 1;
        transition: $transition;
      }
    }

    &__right {
      position: relative;
    }
  }

  .es-cross {
    position: relative;
    z-index: 0;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;

      &-desktop {
        display: none;
      }
    }

    &__bg img {
      height: 100%;
      width: 100%;
    }

    &__left {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: $padding-XL 0;
      gap: $padding-M;
    }

    .es-header {
      padding: $padding-XS $padding-L;
      color: $color-white;
      background: $color-blue;
      border-radius: 10px 0px 0 0;
      text-align: center;
    }

    &__wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: $padding-S;
      padding: $padding-L $padding-S;
    }

    &__single {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      gap: $padding-S;
      -webkit-box-align: center;
      align-items: center;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      padding: $padding-S;
      border-radius: $padding-XS;
      text-decoration: none;
      width: 80%;
      max-width: 300px;
    }

    &__single:hover {
      background-color: rgba(255, 255, 255, 0.0980392157);
      box-shadow: $shadow;
      transition: $transition;
      .es-cross__name {
        background-color: $color-blue;
      }
      .es-cross__img {
        scale: 1.1;
      }
    }

    &__img {
      height: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: end;
      justify-content: flex-end;
      transition: $transition;
    }

    &__img img {
      max-width: 100%;
      height: 100%;
    }

    &__img--1 {
      max-height: 285px;
    }

    &__img--2 {
      max-height: 210px;
    }

    &__img--3 {
      max-height: 240px;
      max-width: 110px !important;
      height: auto !important;
    }

    &__name {
      background-color: $color-yellow;
      color: $color-white;
      padding: $padding-XS $padding-M;
      font-weight: $fw-bold;
      text-align: center;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      text-transform: uppercase;
      transition: $transition;
    }

    &__desc {
      font-weight: 700;
      text-align: center;
      color: $color-blue;
    }
  }

  .es-expert {
    &__left img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
    }

    &__logo {
      padding-block: $padding-XL;
      padding-bottom: 0;
    }

    &__logo img {
      max-width: 160px;
    }

    &__wrapper {
      padding-top: $padding-L;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $padding-M;
      max-width: 444px;
      margin: auto;
    }

    &__single {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: $padding-S;
      text-align: center;
      border-radius: $padding-M;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      padding: $padding-S;
      width: 100%;
      max-width: 240px;
    }

    &__single:hover {
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
    }

    &__icon {
      background-color: $color-blue;
      padding: $padding-XS;
      border-radius: $padding-XS;
      width: 60px;
      height: 60px;
      display: grid;
      place-items: center;
    }
  }

  @media (min-width: 576px) {
    .es-kv {
      display: flex;
      &__left,
      &__right {
        flex: 1 1 0;
      }
      &__logo {
        margin-left: 0;
      }
      &__infoWrapper {
        text-align: right;
      }
      &__new,
      &__textWrapper {
        padding-inline: $padding-S;
      }
      &__textWrapper {
        align-items: flex-end;
      }
    }
    .es-features {
      -webkit-box-align: start;
      align-items: flex-start;
      position: relative;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      gap: 10px;
      min-height: 400px;
      -webkit-box-align: center;
      align-items: center;

      &__packshot {
        position: absolute;
        bottom: 0%;
        left: 49%;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        img {
          width: 50%;
        }
        .es-line {
          display: none;
        }
      }

      &__left,
      &__right {
        flex: 1 1 0;
      }
      &__left {
        overflow: hidden;
        border-radius: 0 12px 0 0;
        img {
          transition: $transition;
          &:hover {
            scale: 1.05;
          }
        }
      }
      &__inner {
        display: flex;
        flex-direction: column;
        gap: $padding-M;
        .es-line {
          display: block;
        }
      }
      &__textCtn {
        padding-inline: $padding-L;
        display: flex;
        flex-direction: column;
        gap: $padding-M;
      }
      &__right-description {
        padding: unset;
      }
    }
    .es-effects {
      .es-header {
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        padding: $padding-XS $padding-XL;
        border-radius: 0 10px 0 0;
        margin: auto;
        margin-left: 0;
      }
      &__header,
      &__title {
        padding-top: $padding-XL;
      }
    }
    .es-fragrance {
      flex-direction: row;
      gap: 0;
      &__left,
      &__right {
        flex: 1 1 0;
      }
      &__textCtn {
        padding-inline: $padding-M;
        display: flex;
        flex-direction: column;
        gap: $padding-M;
      }
      &__right {
        overflow: hidden;
        border-radius: 12px 0 0 0;
        img {
          transition: $transition;
          &:hover {
            scale: 1.05;
          }
        }
      }
    }
    .es-formula {
      flex-direction: row;
      gap: 0;
      &__left,
      &__right {
        flex: 1 1 0;
      }
      &__left {
        &--text {
          width: 100%;
          position: relative;
          transition: $transition;
          &:hover .es-formula__left--plus {
            scale: 1.8;
          }
          &:hover {
            scale: 1.05;
          }
        }
        &--lineCtn {
          top: 0;
          width: 60%;
          height: 100%;
          left: 100%;
          transform: unset;
          &--1 {
            min-width: unset;
            max-width: unset;
          }
          &--2 {
            width: 80%;
          }
        }
      }
      &__right {
        overflow: hidden;
        img {
          height: 100%;
          object-fit: cover;
          transition: $transition;
          &:hover {
            scale: 1.05;
          }
        }
      }
    }
    .es-cross {
      &__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: end;
        align-items: flex-end;
      }
      &__single {
        width: 33%;
        height: 100%;
        -webkit-backdrop-filter: unset;
        backdrop-filter: unset;
        &:hover {
          background-color: unset;
          box-shadow: unset;
        }
        &:hover img {
          scale: 1.05;
        }
        &:hover .es-cross__name {
          background-color: $color-blue;
        }
      }
      &__single img,
      &__name {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
      }
    }
    .es-expert {
      &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: unset;
      }
      &__single {
        height: 100%;
      }
    }
  }

  @media (min-width: 720px) {
    .es-kv {
      .es-header {
        font-size: calc($fs-header * 1.2);
      }
      &__infoWrapper {
        gap: $padding-XS;
      }
      &__text {
        margin-top: $padding-M;
      }
      &__left,
      &__right {
        flex: unset;
      }
      &__left {
        width: 55%;
        padding-right: $padding-L;
      }
      &__right {
        width: 45%;
        overflow: hidden;

        img {
          object-position: left;
          transition: $transition;
          &:hover {
            scale: 1.05;
          }
        }
      }
      &__right-img--mobile {
        display: none;
      }
      &__right-img--desktop {
        display: block;
      }
    }
    .es-features {
      &__inner,
      &__textCtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $padding-L;
      }
      &__left {
        border-radius: 0 20px 0 0;
      }
      &__right {
        &-description {
          padding: 0 $padding-M;
        }
      }
      &__packshot {
        img {
          width: 60%;
        }
      }
    }
    .es-effects {
      margin-bottom: 100px;
      &__Ctn {
        background-color: transparent;
        -webkit-backdrop-filter: unset;
        backdrop-filter: unset;
        padding: 0;
      }
      &__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        padding: $padding-M;
        padding-top: 0;
        -webkit-box-pack: center;
        justify-content: center;
      }
      &__single {
        flex: 1 1 0;
        display: grid;
        align-content: flex-start;
        max-width: 420px;
        &:hover {
          box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
        }
      }
      &__textTitle {
        width: 100%;
        font-size: calc(0.9 * $fs-header);
      }
    }
    .es-fragrance {
      &__right {
        border-radius: 20px 0 0 0;
      }
    }
    .es-formula {
      &__left {
        &--wrapper {
          height: 100%;
          aspect-ratio: unset;
        }
      }
    }
    .es-cross {
      position: relative;
      z-index: 0;
      display: -webkit-box;
      display: flex;
      min-height: 530px;

      &__bg-mobile {
        display: none;
      }

      &__bg-desktop {
        display: block;
        object-fit: cover;
      }

      &__img {
        display: none;
      }
      &__left {
        position: absolute;
        top: 0;
        right: 0;
        -webkit-box-pack: center;
        justify-content: center;
      }
      &__wrapper {
        padding: 0 $padding-S;
        width: 82%;
        margin: 0 auto;
      }
      &__single {
        -webkit-backdrop-filter: unset;
        backdrop-filter: unset;
        height: 100%;
        -webkit-box-pack: end;
        justify-content: flex-end;
        padding: $padding-XS 0;
      }
      &__name {
        font-size: 14px;
        padding: 6px 12px;
        width: 90%;
      }
      &__desc {
        font-size: 12px;
      }
    }
    .es-expert {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      &__left {
        flex: 1 1 0;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      &__right {
        flex: 1 1 0;
      }
    }
  }
  @media (min-width: 820px) {
    .es-features {
      padding-bottom: 20px;
      &__packshot {
        bottom: -7%;
        img {
          width: 65%;
        }
      }
    }
  }
  @media (min-width: 950px) {
    .es-features {
      padding-bottom: 40px;
      &__packshot {
        bottom: -8%;
        img {
          width: 70%;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .es-features {
      &__textCtn {
        gap: $padding-M;
        padding-inline: $padding-XL;
        max-width: 400px;
        margin: auto;
      }
      &__inner {
        gap: $padding-XXL;
      }
      &__right-description {
        padding: 0;
      }
      &__left {
        border-radius: 0 24px 0 0;
      }
    }
    .es-effects {
      &__textTitle {
        font-size: $fs-header;
      }
    }
    .es-fragrance {
      &__left {
        gap: $padding-XXL;
      }
      &__textCtn {
        padding-inline: $padding-XL;
        max-width: 400px;
        margin: auto;
      }
      &__right {
        border-radius: 24px 0 0 0;
      }
    }
    .es-cross {
      padding-bottom: 5px;
      margin-bottom: 100px;
      &__wrapper {
        width: 61%;
      }

      &__desc {
        padding-top: 18px;
        font-size: 12px;
      }
      &__left {
        padding-left: $padding-XXL;
        padding-right: 0;
      }
    }
    .es-expert {
      &__icon {
        width: 70px;
        height: 70px;
      }
    }
  }
}
